<%- include('navbar') -%>
    <head>
        <title> Stats | Error </title>
    </head>
    <body style="text-align: center">
        <h1 class="title" style="color: red"> Error: <%= code %><%= error %> </h1>
        <img src="/static/FeelsDankMan.png" draggable="false" title="FeelsDankMan" alt="FeelsDankMan">
    </body>
</html>