<%- include('navbar') -%>

	<head>
		<title>Stats | FAQ</title>
		<meta name="description" content="Frequently Asked Questions" />
		<meta property="og:title" content="Stats | FAQ" />
		<meta property="og:image" content="/static/DankG.png" />
		<meta property="og:description" content="Frequently Asked Questions" />
	</head>

	<body>
		<div class="text-center margin">
			<h1>FAQ</h1>
			<img src="/static/dankSpin.gif" alt="dankSpin" class="margin" />
			<blockquote class="blockquote margin">
				<h2>Open source?</h2>
				<p class="col-md-4 offset-md-4">
					Yes, the code is available on
					<a target="_BLANK" href="https://github.com/ZonianMidian/emote-stats" style="text-decoration: none" data-umami-event="link-repository">
						GitHub</a>
				</p>
			</blockquote>
			<blockquote class="blockquote margin">
				<h2>Received an error?</h2>
				<p class="col-md-4 offset-md-4">
					You either misspelled the user or statistics were not found for
					the specified channel. In any case, you can
					<a target="_BLANK" href="/contact" style="text-decoration: none" data-umami-event="link-contact">contact</a>
					me or report the error on
					<a target="_BLANK" href="https://github.com/ZonianMidian/emote-stats/issues"
						style="text-decoration: none" data-umami-event="link-issues">
						GitHub</a>
				</p>
			</blockquote>
			<blockquote class="blockquote margin">
				<h2>Why are there no statistics for my channel?</h2>
				<p class="col-md-4 offset-md-4">
					You must register with the following two providers:
				</p>
				<ul style="list-style: none;">
					<li>
						<a target="_BLANK" href="https://stats.streamelements.com/" style="text-decoration: none" data-umami-event="link-streamelements">
							StreamElements</a>
					</li>
					<li>
						<a target="_BLANK" href="https://github.com/MarkZynk/7tv-emotes/" style="text-decoration: none" data-umami-event="link-markzynk">
							7TV Stats</a>
					</li>
				</ul>
			</blockquote>
		</div>
	</body>