<%- include('navbar') -%>
<head>
    <title>Emote Stats</title>
</head>
<body>
    <div class="text-center margin">
        <img src="/static/DankG.gif" alt="DankG" />
        <blockquote class="blockquote margin">
            <h1>About</h1>
            <p class="col-md-4 offset-4">
                This website does not store information of any kind, it only
                intends to collect public information and statistics about the
                use of emotes, including third-party providers on Twitch, and
                display them to visitors in a nice and clean way.
            </p>
        </blockquote>
        <blockquote class="blockquote margin">
            <h1>Usage</h1>
            <p class="col-md-4 offset-4">
                Go to the
                <a target="_BLANK" href="/global" style="text-decoration: none"
                    >global</a
                >
                section to see the global emote stats, or type a Twitch user in
                the form on the top right to see the stats for that specific
                channel.
            </p>
        </blockquote>
        <blockquote class="blockquote margin">
            <h1>Data & API</h1>
            <p class="col-md-4 offset-4">
                The data is currently obtained from the following providers:
            </p>
            <ul>
                <li>
                    <a
                        target="_BLANK"
                        href="https://stats.streamelements.com/c/ZonianMidian"
                        style="text-decoration: none"
                    >
                        StreamElements: Twitch, BTTV and FFZ</a
                    >
                </li>
                <li>
                    <a
                        target="_BLANK"
                        href="https://stats.kattah.me/c?user=ZonianMidian"
                        style="text-decoration: none"
                    >
                        Kattah: 7TV</a
                    >
                </li>
            </ul>
        </blockquote>
    </div>
</body>
