<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.6" />
    <meta property="og:url" content="https://stats.zonian.me/" />
    <meta name="keywords" content="twitch, chat, emote, stats" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <meta name="application-name" content="Emotes Stats" />
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/bootstrap.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.js"></script>
</head>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img class="navbarImage" src="/static/DankG.png" title="EmoteStats" alt="EmoteStats" />Emote Stats</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/global">Global</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
            </ul>
            <form id="Search" onsubmit="redirect(); return false" method="get" action="" class="d-flex" role="search">
                <input id="channelInput" class="form-control me-2" type="search" placeholder="Channel" aria-label="Channel"
                    style="border:none" autofocus required>
                    <button class="btn btn-light" type="submit">🔍</button>
            </form>
        </div>
    </div>
</nav>
<script>
    function redirect() {
        window.location.href =
            "/channel/" + document.getElementById("channelInput").value.trim().toLowerCase()}
</script>

</html>